/* ÁREA DE IMPORT */
@import url('./reset.css');
@import url('./global.css');


/* CLASSE WRAPPER [EMPACOTAMENTO] */
.wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.wrapper video {
    position: fixed;
    width: 100%;
}



/* ESTILIZAÇÃO DA COLUNA ESQUERDA */
.wrapper .left-column {
    width: 100px;
    height: 100%;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 50px;
    left: 0;
    top: 0;
    z-index: 1;
}



/* ESTILIZAÇÃO DO CONTEÚDO PRINCIPAL */
.wrapper .main-content {
    height: 100%;
    width: 100%;
    /* background-color: gray; */
    padding-left: 130px;
    position: relative;
}

/* Conteúdo do topo (Sinopse e trailer) */
.main-content .main-content__top {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-content__top .logo img {
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
}

.main-content__top .description {
    background-color: rgba(0, 0, 0, .7);
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
}

.main-content__top .description .description__text p {
    color: #fff;
    line-height: 170%;
    text-align: justify;
}

.main-content__top .description .pills {
    margin-bottom: 20px;
}

.main-content__top .links {
    padding: 20px;
    padding-left: 0;
}

.main-content__top .links ul {
    display: flex;
    flex-direction: row;
}

/* Conteúdo de baixo (Galeria) */
.main-content .main-content__bottom {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



/* ESTILIZAÇÃO DO NAVIGATOR */
.navigator {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navigator::before {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: white;
    z-index: 0;
}

.navigator .navigator__icon {
    position: absolute;
    top: -20px;
}

.navigator ul {
    z-index: 1;
}

.navigator ul li:first-child {
    margin-top: 0;
}

.navigator ul li {
    margin: 60px 0;
}

.navigator ul li:last-child {
    margin-bottom: 0;
}

.navigator ul li a {
    color: #fff;
    background-color: #000;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator ul li a:hover
, .navigator ul li a.active {
    color: var(--primary-color);
    background-color: #fff;
    border: .1875rem solid #000;
    outline: .125rem solid #fff;
}



/* ESTILIZAÇÃO DOS "PILLS" */
.pills ul {
    display: flex;
    flex-direction: row;
}

.pills ul li {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 20px;
    text-transform: uppercase;
}

.pills ul li:first-child {
    margin-left: 0;
}



/* ESTILIZAÇÃO DO LINK BUTTON */
a.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

a.link-button .icon {
    width: 32px;
    height: 32px;
    padding: 3px;
    background-color: var(--primary-color);
    border: 1px solid #fff;
    border-radius: 50%;
    background-clip: content-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.link-button .icon .play-icon {
    border: 7px solid #fff;
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-right: -7px;
}

a.link-button .label {
    margin-left: 10px;
}



/* ESTILIZAÇÃO DA GALERIA */
.gallery {
    padding: 20px;
    padding-left: 0;
}

.gallery ul {
    display: flex;
    flex-direction: row;
}

.gallery ul li {
    margin-left: 25px;
}

.gallery ul li:first-child {
    margin-left: 0;
}

.gallery ul li a img {
    border: 6px solid #fff;
    border-radius: 15px;
}



/* IMAGENS DE FUNDO DA PÁGINA */
.spiderman-01-01 { 
    background-image: url('../images/spiderman-tobey/movie-01/background.png');
    background-size: cover;
}

.spiderman-01-02 { 
    background-image: url('../images/spiderman-tobey/movie-02/background.png');
    background-size: cover;
}

.spiderman-01-03 { 
    background-image: url('../images/spiderman-tobey/movie-03/background.png');
    background-size: cover;
}

.spiderman-02-01 { 
    background-image: url('../images/spiderman-andrew/movie-01/background.png');
    background-size: cover;
}

.spiderman-02-02 { 
    background-image: url('../images/spiderman-andrew/movie-02/background.png');
    background-size: cover;
}

.spiderman-03-01 { 
    background-image: url('../images/spiderman-tom/movie-01/background.png');
    background-size: cover;
}

.spiderman-03-02 { 
    background-image: url('../images/spiderman-tom/movie-02/background.png');
    background-size: cover;
}

.spiderman-03-03 { 
    background-image: url('../images/spiderman-tom/movie-03/background.png');
    background-size: cover;
}